.container {
    margin: 0 auto; 
    max-width: 100%; 
    padding: 0;
}


.navbar,.Footer{
    background-color: rgb(39, 44, 49);
    padding: 0;
    min-height: 3em; 
    font-size: medium;
}

.navbar-brand {
    margin-left: 4.5em;
    margin-right: 1em;
    
    color: whitesmoke;
}

.navbar-nav {
   margin-left: 47em;
}

.navbar-toggler {
    border-color: whitesmoke; 
    margin-left: 5em;
}

.navbar-nav .show>.nav-link {
    color: #fff !important; 
  }
.custom-text {

    font-size: large;
}

.white-text {

    color: whitesmoke;

}



.jumbotron {
    background-color: rgb(229, 232, 235);
    margin-top: 1.5em;
    margin-left: 6em;
    margin-right: 6em;
    padding: 0;
    overflow-x: auto;
}

.custom-jumbotron {
    max-height: auto;
    width: 100%;
    margin-top: 0;
    padding: 0.5em;
}

.custom-h1 {
    margin-top: 0;
    text-align: left;
    font-size: 3em;
}

.custom-p {
    font-size: large;
    width: 100%;
}

.custom-button {
    border-radius: 5px;
    font-size: small;
    padding: 10px 20px;
    margin-top: 1em;
}

@media (max-width: 576px) {
    .jumbotron {
        margin: 1em;
        padding: 1em; 
        overflow-x: scroll; 
    }

    .custom-button {
        font-size: medium; 
        padding: 8px 16px; 
    }
}


  .custom-h1 {
    font-size: 2em; 
  }

  .custom-p {
    font-size: medium; 
  }



  .cardcontainer {
    margin-top: 1.5em;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 1.5em;
}

.card-body {
    margin-top: 1em;
    padding: 0;
    
    font-size: smaller;
}

.btn-container {
    border-top: 1px solid #ccc;
    padding: 12px;
    border-radius: 5px;
    margin: 0;
}


@media (max-width: 576px) {
    .cardcontainer {
        margin-top: 1em; 
        margin-left: 1em;
        margin-right: 1em;
    }

    .card {
        width: 200%; 
        margin-bottom: 1em; 
        width: calc(100% - 2rem); 
        margin: 0.1rem; 
        
    }
}


.footer {
    color: whitesmoke;
    margin-left: 0;
    margin-right:0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}