.container {
margin: 0;
max-width:max-content;
padding: 0;}


.navbar,.Footer {

    background-color: rgb(39, 44, 49);
    padding: 0;
    height: 3em;
    font-size:medium;
}

.navbar-brand{
margin-left: 5em;
margin-right: 37em;
color: whitesmoke;
}

.custom-text {

    font-size: large;
}

.white-text {

    color: whitesmoke;

}



.jumbotron {

    background-color: rgb(229, 232, 235);
    margin-top: 1.5em;
    margin-left: 6em;
    margin-right: 6em;
    padding-top: 1em;
    
}

.custom-jumbotron{

    max-height: 19em;
}

.custom-h1
{
    text-align: left;
    font-size:4em;
    
}

.custom-p {
    
    font-size:large; 
    width:auto; 
    margin-right: 0;
  }

.custom-button{
margin-bottom: 4em;
border-radius: 5%;
font-size:large; 
padding: 6px 16px; 
margin-bottom: 5em;
}

.cardcontainer {
   
    margin-top: 1.5em;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 2em;
    
    
}

.card-body {
    margin-top: 1em;
    padding: 0;
    font-size: smaller;
}

.btn-container {
    background-color: #f0f0f0; 
    padding: 20px; 
    border-radius: 5px; 
    margin: 0; 
    
}

.Footer{

    color: whitesmoke;
    
}